.App {
    padding-left: 0;
}

.CaseContainer {
    background: white;
    min-height: 100vh;

    .CaseContainer-content {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 42px;
        padding-bottom: 100px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;

        .CaseContainer-TextWithImage {
            display: flex;
            flex-direction: column;
            
            .TextBlock {
                flex: 1;
            }

            .LazyLoad {
                flex:0.6;
            }
        }

        .CaseContainer-Iframe {
            transform: scale(.6);
            margin-top: -206px;
        }

        .CaseContainer-metadata {
            display: flex;
        }

        p {
            font-family: 'Swedish-Sans';
            font-weight: 300;
            font-size: 20px;
            opacity: 0.92; 
        }

        h4 {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 16px;
            opacity: 0.88;
            margin-bottom: 8px;
        }

        h3 {
            font-family: 'Inter';
            font-weight: 800;
            font-size: 32px;
            margin-top: 48px;
            color: #000;
            opacity: 0.9;
            margin-bottom: 24px;
        }
    }

    @media screen and (min-width: 700px) {  
        .CaseContainer-content {
            padding-left: 180px;
            padding-right: 180px;

            .CaseContainer-TextWithImage {
                flex-direction: row;
            }

            .LazyLoad {
                margin-left: 32px;
            }

            p {
                font-size: 32px;
                opacity: 0.92; 
            }
    
            h4 {
                font-size: 20px;
                margin-bottom: 12px;
            }
    
            h3 {
                font-size: 48px;
                margin-top: 124px;
                margin-bottom: 48px;
            }
        }
    }
}