.footer {
  @include mainContainer;
  // padding-top: 0rem!important;
  // width: 100%;
  // justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
  }

  .projectlink { 
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
    margin-right: 1.6rem;

    &__title {
      font-size: 3.2rem;
      transition: opacity ease 350ms;
      font-weight: 500;
      width: fit-content;
      margin: 0;
      border-bottom: 1px solid white;
    }

    &__category {
      font-size: 1.4rem;
      font-family: swedensans;
      transition: opacity ease 350ms;
      max-width: 200px;
      display: none;
    }

    &:hover {
      .projectlink__category {
        opacity: 0.5;
      }
      .projectlink__title {
        opacity: 0.5;
        transition-delay: 0.15s;
      }
    }
  }
}