.LandingPage {
  .anime0  {
    .serviceContainer0 {
      width: 100%;
    }
  }
  .LandingPage-intro {
    padding-top: 20rem;
    max-width: $content-max-width;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;

    @include respond(laptop) {
      max-width: $content-max-width-laptop;

      padding-top: 17rem;
      margin-bottom: 12rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      width: auto;
      margin-bottom: 7rem;
      padding-top: 13rem;
    }

    h1 {
      font-size: 6.4rem;
      text-align: center;
      font-weight: 300;
      max-width: 89rem;

      @include respond(tab-port) {
        font-size: 4.8rem;
        line-height: 130%;
        text-align: left;
        font-weight: 400;
        margin-bottom: 0.8rem;
      }

      @include respond(phone) {
        font-size: 3.2rem;
        line-height: 130%;
        font-weight: 400;
        text-align: left;
        margin-bottom: 0.8rem;
      }
    }

    .textWrapper0 {
      display: none;
      
      @include respond(tab-port) {
         text-align: left;
         width: 100%;
         max-width: none;
         display: block;
      }
    }

    span {
      font-size: 2.4rem;
      font-weight: 400;
      max-width: 39.3rem;
      text-align: right;
      line-height: 2.7rem;
      display: none;
      
      @include respond(tab-port) {
         text-align: left;
         width: 100%;
         max-width: none;
         display: block;
      }

      @include respond(phone) {
         font-size: 2rem;
      }
    }
  }

  .LandingPage-services {
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;

    .LinkBlock {
      margin-bottom: 3.2rem;

      @include respond(tab-port) {
       margin-bottom: 3.2rem;
       width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__wrapper-right {
      padding: 6.4rem 0;
      
      @include respond(tab-port) {
       padding: 6.4rem 1.6rem;
       padding-top: 0;
      }
    }

    &__container {
      max-width: $content-max-width;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      @include respond(laptop) {
        max-width: $content-max-width-laptop;
      }

      @include respond(tab-port) {
        flex-direction: column;
        width: 100%;
      }
    }

    &__title {
      font-size: 6.4rem;
      color: #F7F7F7;
      max-width: 51rem;
      font-weight: 300;
      line-height: 7.7rem;
      margin-top: -3.2rem;

      @include respond(tab-port) {
        font-size: 6.4rem;
        // line-height: 5rem;
        padding: 3.2rem 1.6rem 3.2rem 1.6rem;
        margin-top: 0;
        max-width: none;
      }

      @include respond(tab-port) {
        // font-size: 3.2rem;
        // line-height: 4.2rem;
        font-size: 3.8rem;
        line-height: 5rem;
        padding: 3.2rem 1.6rem 3.2rem 1.6rem;
        margin-top: 0;
        max-width: none;
      }
    }
  }

  .LandingPage-projects {
    background: #ECE7DA;
    padding: 6.4rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port) {
      padding: 4.8rem 1.6rem;
      width: auto;
    }

    &__title {
      font-size: 4.8rem;
      font-weight: 400;
      width: 100%;
      max-width: $content-max-width;
      margin-bottom: 4.8rem;

      @include respond(laptop) {
        max-width: $content-max-width-laptop;
      }

      @include respond(tab-port) {
       margin-bottom: 4.8rem;
       margin-bottom: 2.4rem;
      }

      @include respond(phone) {
        font-size: 3.8rem;
        margin-bottom: 2.4rem;
      }
    }

    &__projectWrapper {
      display: flex;
      max-width: $content-max-width;
      flex-wrap: wrap;

      @include respond(laptop) {
        max-width: $content-max-width-laptop;
      }
    }
  }
}