// COLORS
$color-white: #ffffff;
$color-oil: #333;
$color-text: #131313;
$color-jungle: #32757B;
$color-beige: #F5EAE3;
$color-light-background: #EAEAEA;

$color-gray: #F1F1F1;
$color-orange: #FD9850;

//FONT
$default-font-size: 1.8rem;

//SIZES
$content-max-width: 119rem;

$content-max-width-laptop: 110rem;
