// COLORS

$color-primary: #607bff;
$color-primary-light: #6099ff;
$color-primary-dark: #5f64f9;

$color-primary-green: #324243;
$color-secondary-yellow: #FFD865;

$color-white: #ffffff;
$color-oil: #333;
$color-jungle: #32757B;

$color-beige: #F5EAE3;

$color-light-background: #FAFAFA;
$color-gray: #F1F1F1;

$color-orange: #E96E1F;

//FONT
$default-font-size: 1.8rem;

//SIZES
$content-max-width: 119rem;

$content-max-width-laptop: 110rem;
