.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 88px;
    padding-top: 42px;

    span {
        font-size: 14px;
        font-weight: 600;
        font-family: 'Swedish-Sans';
    }
    
    a {
        margin-right:64px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.ImagePreview {
    max-width: 80%;
    width: 500px;
    // height: 200px;
    position: fixed;
    margin-left: 33vw;
    top: 32vh;
    z-index: 0;
    opacity: 0;

    &.active {
        animation: imageSlide 450ms forwards ease-in-out;
    }
    &.unactive {
        animation: imageSlideOut 450ms forwards ease-in-out;
    }
}
@keyframes imageSlide {
  from {
    margin-top: 100px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes imageSlideOut {
    from {
      margin-top: 0px;
      opacity: 1;
    }
  
    to {
      margin-top: -100px;
      opacity: 0;
    }
  }

.ProjectLink {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 350ms ease; 
    color: white;
    width: fit-content;

    &.active {
        opacity: 0.2,
    }

    span {
        margin: 0;
        margin-bottom: 4px;
        font-size: 16px;
        font-family: 'Swedish-Sans';
        font-weight: 300;
    }

    h3 {
        margin: 0;
        font-size: 36px;
        font-weight: 600;
    }

    // &:hover {
    //   transform: scale(1.1);
    //   transition: all 350ms ease;  
    //   color: grey; 
    // }
}

.ContactLink {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
    margin-bottom: 24px;
    max-width: 700px;
    color: white;
    cursor: pointer;
    transition: all 350ms ease;  

    span {
        margin: 0;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Swedish-Sans'
    }

    h3 {
        margin: 0;
        font-size: 36px;
        font-weight: 600; 
    }
    
    &:hover {
      transform: scale(1.1);
      transition: all 350ms ease;  
      color: grey; 
    }
}

.MainTextBlock {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 900px;
    margin-bottom: 64px;

    h1 {
        font-weight: 700;
        font-size: 42px;
        margin: 0;
        margin-bottom: 24px;
    }

    span {
        margin: 0;
        font-weight: 500;
        font-size: 22px;
        max-width: calc(100% - 296px);
        font-family: 'Swedish-Sans'
    }
}
.BioBlock {
    font-size: 24px;
    font-weight: 500;
    max-width: 960px;
    width: 90%;
    margin-bottom: 92px;
    z-index: 1;

    p {
        margin: 0;
        transition: all ease 450ms;
        font-family: 'Swedish-Sans';

        &.unactive {
            color: rgba(255, 255, 255, 0);
        }
    }
    span {
        text-decoration: underline;
        display: inline-block;
        cursor: pointer;
        font-family: 'Inter';

        &.active {
            color: rgba(255, 255, 255, 1);
        }
    }
}

.Label {
    color: white;
    max-width: 160px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 24px;
}