body {
	margin: 0;
  font-family: 'Inter';
  background: black;
}

html {
  background: black;
}

a {
	cursor: pointer;
}

.App {
	// width:100%;
	min-height:100vh;
	display: flex;
	flex-direction: column;
	background:black;
	margin:0;
  color: white;
  // padding-left:64px;
	padding-bottom: 64px;
	
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
  .animated-page-wrapper {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    height: 100%;
}

  
  .container {
    // width: 100%;
    height: 100%;
    display: flex;
		flex-direction: column;
		padding-left:64px;
  }
	
	.blockContainer {
		display: flex;
		flex-direction: column;
		margin-bottom: 64px;
	}

	.alertText {
		font-size: 32px;
		font-weight: 600;
		// text-transform: uppercase;
		text-decoration: underline;
    margin-bottom: 64px;
    color: #FFFFFF;
		max-width: 700px;
	}

	.linkText {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		margin-bottom: 64px;
		
		a {
			font-size: 32px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: underline;
		}
		
		.nudgeText {
		font-size: 8px;
		margin-top: 8px;
	}
	}
}