.project {
  max-width: none;
  padding:0!important;

  .content {
    background: white;
    color: black;
    width: 100vw;

    .block-img {
      img {
        transform: scale(0.8);
        transition: transform ease 900ms;
        will-change: transform;
      }

      &.in-view {
        img {
          transform: scale(1);
        }
      }
    }

    h5, h3, p, img {
      max-width: 100rem;
    }

    h5 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 1.2rem;
      text-transform: none;
    }

    h3 {
      font-size: 6.4rem;
      margin-top: 8.4rem;
      margin-bottom: 3.8rem;
    }

    p {
      margin-bottom: 4.2rem;
    }

    img {
      padding: 4.8rem 0;
      width: 100%;
    }

    &__container {
      @include mainContainer-x;
      flex-direction: column;
      padding-top: 6.4rem;
      padding-bottom: 6.4rem;
    }
  }
  .pageheader {
    // max-width: 140rem;
    @include mainContainer-x;
    flex-direction: column;
    padding: 25rem 7rem;
    transition: padding ease 550ms;
    transition-delay: 600ms;
    will-change: transform;
    will-change: padding;

    @include respond(phone) {
      padding-bottom: 29rem;
      padding-top: 29rem;
    }
    
    &__animated {
      padding: 14rem 7rem;
      @include mainContainer-x;

      h3,h1 {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }

    &__title {
      font-size: 7.2rem;
      max-width: 900px;
      font-weight: 500;
      opacity: 0;
      transform: translate(-200px, 0px);
      transition: all ease 450ms;
      transition-delay: 200ms;

      @include respond(phone) {
        font-size: 5.2rem;
      }
    }

    &__category {
      font-family: swedensans, Sans-serif;
      font-size: 1.6rem;
      opacity: 0;
      transform: translate(-200px, 0px);
      transition: all ease 450ms;
    }
  }

  .summary {
    display: flex;
    width: 100%;
    margin-bottom: 6.2rem;
    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      flex-direction: column;
      margin-right: 2.4rem;

      @include respond(phone) {
        min-width: 49%;
        margin-bottom: 1.6rem;
        margin-right: 0;
      }
    }

    &__title {
      font-size: 1.4rem;
      margin-bottom: 4px;
    }

    &__value {
      font-size: 2rem;
      font-weight: 300;
      font-family: swedensans, Sans-serif;

      p, a {
        font-family: swedensans, Sans-serif;
        color: $color-oil;
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}